*{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	font:inherit;
}


body{
    font-size:1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}


#main-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    background:teal;
    color:white;
    font-size:200%;
}

#footer{
    display: flex;
    justify-content: center;
    align-items: center;
position:fixed;
width:100%;
font-size: 150%;
 height:5vh;
bottom:0px;
background:teal;
text-align: right;
color:white;
}

#content{
display:flex;
flex-wrap:wrap;
 height:80vh;
}

#item{
    width:50vw;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* box-shadow:1px 1px 10px 4px lightgray; */
}

#img{
   height:50vh;
   width:auto;
}

#des{
    padding:2%;
    margin-top:2%;
    background: green;
    color:white;
    width:90%;
    text-align: center;
    font-size: 150%;
border-radius:3px;
}

#control{
    padding: 1%;
    align-items: center;
    width:50vw;
}

#options {
    display:flex;
    flex-flow:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button{
    width:20%;
    height:50px;
    margin:2%;
    padding: 1%;
    background:white;
    border:1px solid green;
    border-radius:3px;
    cursor: pointer;
}

button:hover{
    background:green;
    color:white;
}

button:active{
    transform: scale(0.9);
}

button:disabled{
    background: lightgray;
    color:grey;
}

button:disabled:hover{
    background: lightgray;
    color:grey;
}


.result{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    border-radius:5px;

}

#right{
    width:40%;
    margin:auto;
    background: green;
    font-size:200%;
    padding: 2%;
    margin-bottom: 2%;
}

#wrong{
     width:40%;
     margin:auto;
    background: red;
     font-size:200%;
     padding: 2%;
     margin-bottom: 2%;
}

#ansd{
    width:100%;
}

#again{
    width:50%;
    font-size: 150%;
}

#ans{
color:rgb(10, 158, 158);
font-size:50%;
}


@media(max-width:560px){
    #main-header{
    height:5vh;
    font-size:150%;
}

#footer{
font-size: 100%;
}
    #content > div{
        width:100vw;
    }

    #item{
        height:60vh;
    }

    #control{
        height:20vh;
    }

    #img{
   max-height:40vh;
   width:auto;
}
}